*{
    margin: 0;
    padding: 0;

}
.main-container{
        height: 100vh;
        width: 100%;
        background-color: blueviolet;
}
.page {
    /* display: flex; */
  position: absolute;
  top:30px;
  left: 30px;
  width: 95%;
  height: 90vh;  
  text-align: center;
  justify-content: center;
  background-color: rgb(73, 140, 203);
}
.page-content{
    height:40vh ;
    width: 57%;
    /* background-color: rgba(43, 226, 141, 0.652); */
    position: absolute;
    top: 60px;
    left: 25%;
}
li{
    padding: 20px;
    text-decoration: none;
}
.turn-page{
    position: absolute;
    height: 20px;
    bottom: 60px;
    right: 20%;
    
}
.turn-page:hover{
    color: antiquewhite;
    border: solid 1px red;
    background-color: rgb(28, 26, 26);
}
.turn-page1{
    position: absolute;
    height: 20px;
    bottom: 60px;
    left: 30%;
}
.turn-page1:hover{
    border: solid 1.5px rgb(24, 214, 43);
    background-color: rgb(144, 112, 112);   
}
a{
    text-decoration: none;
}
@media only screen and (max-width:600px){
    .page{
        /* background-color: aquamarine; */
        width: 360px;
        left: 10px;
        right:25px;
    } 
    .page-back{
        left: 30%;
        top:42%;
        height: 200px;
        width: 200px;
        background-color: aqua;
        transform:skewX(50deg) ;
        /* z-index: 0; */
    }
    img{
        position: absolute;
        top: 40%;
        left: 23%;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border:solid 5px rgba(211, 9, 9, 0.821);
    }
    .page-content{
        left: 20%;
        height:40vh ;
        width: 60%;
      
    } 
    h2{
        margin-left: 90px;
        padding: 20px;
    }
    .turn-page1{
       
        width: 100px;
        height: 40px;
       left:10%;
    }
    .turn-page{
        width: 100px;
        height: 40px; 
        right:10%;
    }

}